#signedd{
    width:100%;
    height:100%;
    display:grid;
    justify-items: center;
}
.leftin{
    margin-top: 0px;
    height:15%;
    width:100%;
    text-align: center;
    display: grid;
    place-items: center;
    background-size: 100% 100%;
    margin-bottom: 1rem;
}
.rightReg{
    text-align:center;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 3px 3px grey;
    width: 55%;
    display:grid;
    justify-items: center;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ideaCreate{
    display:flex;
}
.log button{
    margin-left:1rem;
    height:3rem;
    width:4rem;
    border-radius: 0.75rem;
    color:purple;
    background-color: darkslateblue;
}
.namer{
    margin-left: 0% !important;
    margin-top: 2rem;
    margin-bottom:0.75rem;
}
hr{
    width:100%;
}
.names{
    width:100%;
    display:grid;
    align-content: center;
    justify-items: center;
}
.names div{
    width:80%;
    display:grid;
}
.names div h3{
    margin-bottom: 0.5rem;
}
.names input{
    border-radius: 0.45rem;
    padding-left:0.45rem;
    padding-right:0.45rem;
}
.id{
    margin-top:1rem;
}
.but{
    height:3rem;
    border-radius: 0.5rem;
    margin-top:1rem;
    width: 50%;
    color: rgb(133, 15, 117);
    background-color: silver;
}
.but:hover, .log button:hover{
    background-color: purple;
    color:white;
}