.Land{
    background-color: #f0d0a6;
    display: grid;
    justify-items: center;
}
.headLand{
    width:100%;
    height: 5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: papayawhip;
    box-shadow: 3px 3px 3px 3px grey;
}
.headLand h2{
    margin-left:3.5rem;
}
.mainSignIn{
    height:100%;
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    display: grid;
    place-items: center;
    background-color: antiquewhite;
}
.signIn{
    margin-top: 5%;
    width:50%;
    height: 70%;
    background-color: white;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  2px 2px 2px 2px grey;
}
.helf{
    margin-top: 7.5%;
}
.helf button{
    background-color: gold !important;
    color: black !important;
}
.signIn a{
    margin-top: 5%;
    position: relative;
    right: 0rem;
}
.forms i{
    margin-left: 0.75rem;
}
.forms{
    margin-top: 5%;
    height:1.5rem;
    width: 80%;
    border: 1px solid black;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
}
.yes1{
    margin-top: 20%;
}
.forms button{
    border:0px;
    margin-right: 0.75rem;
}
.loggy, .helf button{
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    background-color: teal;
    color: white;
    cursor: pointer;
}
.forms input{
    width: 85%;
    border:0px;
    margin-left: 0.5rem;
}
.divideLand{
    margin-right: 2rem;
}
.profile{
    padding:0px !important;
    border: 2px solid green;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
}
.divideLand button{
    height:3rem;
    width: 5rem;
    font-size: medium;
    border-radius: 0.75rem;
    margin-right:1rem;
    background-color: orangered;
    color: white;
    cursor: pointer;
}
.divideLand button:hover{
    transform: scale(1.125);
}
.labelLand{
    font-size: large;
    margin-left: 2rem;
}
#category{
    font-size: medium;
    margin-top: 1rem;
    margin-left: 0.5rem;
    width: 15rem;
}
.contentLand{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    width:95vw;
    justify-content: center;
    align-items: center;
}
.closeSignIn{
    position:absolute;
    height: 1.75rem;
    width: 1.75rem;
    top: 15%;
    left: 73.5%;
    background-color: white;
    line-height: 1.75rem;
    text-align: center;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px grey;
    cursor: pointer;
}
.showLand{
    flex-grow: inherit;
    width: 16.5rem;
    background-color: white;
    display:grid;
    padding:1rem;
    margin: 1.5rem;
    justify-content: center;
    justify-items: center;
    border-radius: 0.75rem;
    box-shadow: 3px 3px 3px 3px grey;
}

.dineLand{
    margin-top:2rem;
    width: 1rem;
    display:flex;
    padding:0.75rem;
    border:1px solid black;
    border-radius: 0.75rem;
    position: relative;
}

.search{
    display:none;
    margin-left:1rem;
    width: 22.5rem;
    background-color: inherit;
    border: 0px;
}
.dineLand:hover{
    width: 27rem;
}
.dineLand:hover .search{
    display:block;
}
.search:focus{
    display: block;
}

.bookLand{
    height: 10rem;
    width: 10rem;
}
.typeLand{
    margin-top: 0px;
}
.footers{
    width:100%;
    margin-top: 15vh;
    display:grid;
    place-items: center;
    padding-top:1rem;
    background-color: rgb(22, 2, 2);
    color:white;
}
.medias{
    font-size: 1.25rem;
    width:70vw;
    display: flex;
    justify-content: space-around;
}
.medias a{
    text-decoration: none;
    color:white;
}
.land:hover{
    transform: scale(1.5);
}
.buyLand{
    opacity:0;
    height: 3rem;
    width: 5rem;
    font-size: 1.25rem;
    border-radius: 0.75rem;
    background-color: hotpink;
    cursor:pointer;
}
.showLand:hover .buyLand{
    opacity:1
}
button:focus, input:focus{
    outline: none;
}
